{% extends 'games/base.html' %} {% block content %}
<div class="start-card">
  {% if game.status == '진행중' and user == game.attacker %}
  <div
    style="
      text-align: center;
      margin-bottom: 18px;
      font-size: 1.2rem;
      color: #ffd369;
    "
  >
    진행중입니다. 상대가 아직 반격하지 않았습니다.
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="game-info-btn" style="margin-top: 10px">
      게임 취소
    </button>
  </form>
  {% elif game.status == '반격대기' and user == game.defender %}
  <form method="post">
    {% csrf_token %}
    <label style="font-size: 1.2rem">반격할 카드 :</label><br />
    {{ counter_form.card }}
    <button type="submit">CounterAttack</button>
  </form>
  {% else %}
  <h3 style="margin-bottom: 10px">
    {{ game.attacker }} VS {{ game.defender }}
  </h3>
  <div style="margin-bottom: 8px; font-size: 1.1rem">
    {% if game.card_rule == 'high' %} 숫자가 큰 사람이 이깁니다.<br />
    {% else %} 숫자가 작은 사람이 이깁니다.<br />
    {% endif %}
  </div>
  <div style="margin-bottom: 8px">
    <b>{{ game.attacker }}</b>: {{ game.attacker_card }}<br />
    <b>{{ game.defender }}</b>: {{ game.defender_card|default:'미제출' }}
  </div>
  {% if game.status == '종료' %}
  <div style="font-size: 1.2rem; margin-bottom: 8px">
    결과: {% if user == game.attacker %} {% if game.result == '승리'%}👑승리👑
    {% elif game.result == '패배' %}😢패배😢 {% else %}무승부{% endif %} 
    {% else %} {% if game.result == '승리' %}😢패배😢{% elif game.result == '패배'%}👑승리👑{% else %}무승부{% endif %} {% endif %}
  </div>
  <div style="margin-bottom: 10px">
    점수: {{ game.attacker_card|add:game.defender_card }}
  </div>
  {% endif %}
  <a href="{% url 'game_list' %}" class="game-info-btn">전적목록</a>
  {% endif %}
</div>
{% endblock %}
