{% extends 'games/base.html' %} {% block content %}
<div class="start-card-detail">
  {% if game.status == '진행중' and user == game.attacker %}
  <div class="detail-status-msg">
    진행중입니다. 상대가 아직 반격하지 않았습니다.
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="game-info-btn detail-cancel-btn">
      게임 취소
    </button>
  </form>
  {% elif game.status == '반격대기' and user == game.defender %}
  <form method="post">
    {% csrf_token %}
    <label class="detail-counter-label">반격할 카드 :</label><br />
    <div class="card-select-group">
      {% for radio in counter_form.card %}
      <label class="card-radio-label">
        {{ radio.tag }}
        <div class="card-shape">{{ radio.choice_label }}</div>
      </label>
      {% endfor %}
    </div>
    <button type="submit">CounterAttack</button>
  </form>
  {% else %}
  <h3 class="detail-vs-title">{{ game.attacker }} VS {{ game.defender }}</h3>
  <div class="detail-rule-msg">
    {% if game.card_rule == 'high' %} 숫자가 큰 사람이 이깁니다.<br />
    {% else %} 숫자가 작은 사람이 이깁니다.<br />
    {% endif %}
  </div>
  <div class="detail-card-info">
    <b>{{ game.attacker }}</b>: {{ game.attacker_card }}<br />
    <b>{{ game.defender }}</b>: {{ game.defender_card|default:'미제출' }}
  </div>
  {% if game.status == '종료' %}
  <div class="detail-result-msg">
    결과: {% if user == game.attacker %} {% if game.result == '승리'%}👑승리👑
    {% elif game.result == '패배' %}😢패배😢 {% else %}무승부{% endif %} 
    {% else %} {% if game.result == '승리' %}😢패배😢{% elif game.result == '패배'%}👑승리👑{% else %}무승부{% endif %} {% endif %}
  </div>
  <div class="detail-score-msg">
    ({{ game.attacker.username }}: 💰{{ attacker_point }} /
   {{ game.defender.username }}: 💰{{ defender_point }})
  </div>
  {% endif %}
  <a href="{% url 'game_list' %}" class="game-info-btn">전적목록</a>
  {% endif %}
</div>
{% endblock %}
