{% extends 'games/base.html' %} {% block content %}
<div class="history-list">

 <h2>게임 전적 리스트</h2>
  <p>현재 플레이어: <strong>{{ user.username }}</strong></p>
  <ul>
    {% for game in games %}
    <li>
      <span>
        <span class="game-time">
          {{ game.created_at|time:"H:i" }}
        </span>
        <a
          href="{% url 'game_detail' game.id %}"
          class="game-link"
        >
          {{ game.attacker }} VS {{ game.defender }}
        </a>
        {% if game.status == '진행중' and game.attacker == user %}
        <span class="game-status attack-status">진행 중 (내가 공격)</span>
        <form method="post" class="inline-form">
          {% csrf_token %}
          <button type="submit" class="game-info-btn">게임 취소</button>
        </form>
        {% elif game.status == '반격대기' or game.status == '진행중' and game.defender == user %}
        <span class="game-status defend-status">반격 대기 (내가 수비)</span>
        <form method="get" action="{% url 'game_detail' game.id %}" class="inline-form">
          <button type="submit" class="game-info-btn">반격하기</button>
        </form>
        {% elif game.status == '종료' %}
        <span class="game-status result-status">
            결과: {% if user == game.attacker %} {% if game.result == '승리'%}👑승리👑
            {% elif game.result == '패배' %}😢패배😢 {% else %}무승부{% endif %} 
            {% else %} {% if game.result == '승리' %}😢패배😢{% elif game.result == '패배'%}👑승리👑{% else %}무승부{% endif %} {% endif %}
        </span>
        {% endif %}
      </span>
      <a href="{% url 'game_detail' game.id %}" class="game-info-btn">게임정보</a>
    </li>
    {% empty %}
    <li>게임 기록이 없습니다.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
