{% extends 'games/base.html' %}

{% block content %}
<div class="main-container">
    <h1 id="main-title">Piro Card Game</h1>

    {% if user.is_authenticated %}
        <p class="login-info"><strong>{{ user.username }}</strong>님이 로그인 중</p>
        <div class="button-group">
            <a href="{% url 'start_game' %}" class="btn">start</a>
            <a href="{% url 'game_list' %}" class="btn">list</a>
        </div>
    {% else %}
        <div class="button-group">
            <a href="{% url 'login' %}" class="btn">start</a>
        </div>
    {% endif %}
</div>
{% endblock %}