{% extends 'games/base.html' %}

{% block content %}
<div class="start-card ranking-card" >
  <h2 class="ranking-title">Piro 명예의 전당</h2>
  <div class="ranking-bar-container">
    {% for item in ranking|slice:':3' %}
    <div
      class="ranking-bar"
      style="height:{{ item.score|default:0|add:120 }}px;"
    >
      <div class="ranking-bar-label">
        {{ item.user.username }}<br /><span class="ranking-bar-score">{{ item.score }}</span>
      </div>
      <div class="ranking-bar-rank">{{ forloop.counter }}</div>
    </div>
    {% endfor %}
    </div>

    <div class="ranking-btn-wrapper">
      <a href="{% url 'game_list' %}" class="ranking-btn">전적 목록</a>
    </div>
    
</div>

{% endblock %}